.GoalTrackerBody {
  display: flex;
}

.lists {
  display: flex;
  flex-direction: row;
}

.react-beautiful-dnd-draggable {
  transition: transform 0.2s ease-out;
}

/* Add shadow and opacity to dragging item */
.react-beautiful-dnd-drag-dragging {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}
