.sidebar {
  background-color: #ffb6c1;
  margin: auto 0;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;
  width: 100%;
  margin-top: 100px;
  flex-direction: column;
  color: #333;
}
.sidebar-spending {
  background-color: #ffb6c1;
  margin: auto 0;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;
  width: 100%;
  margin-top: 100px;
  flex-direction: column;
  color: #333;
}

/* Rest of your sidebar styles remain the same */

.name {
  padding: 5px;
  text-align: center;
}

.titleSearch {
  margin: 0px;
  border-radius: 30px;
  height: 27px;
  width: 100%;
}

.newEntry {
  width: 100%;
  border: none;
  height: 40px;
  background-color: #f5f5f5;
  padding: 10px;
}

.newEntry:hover {
  background-color: rgb(255, 255, 255);
}

.journalSidebar {
  width: 15%;
  min-width: 128px;
}

.healthTrackerSidebar {
  width: 15%;
  min-width: 128px;
}

.spendingTrackerSidebar {
  width: 15%;
  min-width: 128px;
}

/* Container for the create board section */
.createBoard {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  align-items: center;
  padding: 20px; /* Added padding for spacing */
}

.newBoard {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Style for the input field */
.boardInput {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  margin: 5px 0;
}

/* Style for the "Add Board" button */
.boardButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-top: 10px;
}

/* Hover effect for the button */
.boardButton:hover {
  background-color: #0056b3;
}
