.sidebar {
  background-color: #38598b;
  max-height: 100vh;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;

  width: 100%;
  margin-top: 60px;
  flex-direction: column;
}

.name {
  padding: 5px;
  text-align: center;
}

.titleSearch {
  margin: 0px;
  border-radius: 30px;
  height: 27px;
  width: 100%;
}
.newEntry {
  width: 100%;
  border: none;
  height: 20px;
  background-color: #a2a8d3;
}

.newEntry:hover {
  background-color: aliceblue;
}

.entry {
  width: 100%;
  border: none;
  height: 20px;
  background-color: #a2a8d3;
}

.journalSidebar {
  width: 15%;
  min-width: 128px;
}

.createBoard {
  display: flex;
  flex-direction: column;
  background-color: #a2a8d3;

  align-items: center;
}

.boardInput {
  margin: 20px;
  border-radius: 20px;
  height: 25px;
  margin: 5px;
}
.boardButton {
  border-radius: 20px;
  margin: 20px;
}
