.sidebar {
  background-color: #38598b;
  height: 100vh;
  display: flex;

  width: 100%;
  margin-top: 60px;
  flex-direction: column;
}

.name {
  padding: 5px;
  text-align: center;
}

.titleSearch {
  margin: 0px;
  border-radius: 30px;
  height: 27px;
  width: 100%;
}
.newEntry {
  width: 100%;
  border: none;
  height: 45px;
  background-color: #a2a8d3;
}

.newEntry:hover {
  background-color: aliceblue;
}

.journalSidebar {
  width: 15%;
  min-width: 128px;
}
