.healthTrackerBodyy {
  display: flex;
  flex: 1;
}

.healthMeals {
  flex: 1;
  padding: 10px;
}

.healthCharts {
  flex: 1;
  padding: 10px;
}

.selected-date {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #e0e0e0;
  text-align: center;
  font-weight: bold;
}
